$main-color: #0B1D30;
$accent-color: #09b3af;

$headline-color: #2E3852;
$text-color: #748293;

$post-max-width: 770px;
$random-posts-background: #f9f9f9;

$header-background-color: #0B1D30;
$header-text-color: #ffffff;

$table-head-background-color: #0B1D30;
$table-head-text-color: #ffffff;
$table-odd-background: #f9f9f9;
$table-even-background: #fff;

$product-max-width: 770px;
$random-products-background: #f9f9f9;

$footer-background-color: #0B1D30;
$footer-text-color: rgba(#ffffff, 0.7);

$button-background-color: rgb(244,230,122);
$button-text-color: rgb(44,46,49);