.home {
  .grid {
    max-width: 980px;
    margin: 0 auto;
  }
}

.home__headline {
  text-align: center;
  padding-bottom: 40px;
}

.home__products {
  padding-top: 100px;
  padding-bottom: 70px;
}

.home__posts {
  padding-top: 100px;
  background: #f9f9f9;
  padding-top: 100px;
  padding-bottom: 70px;
}